<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>TEMPERATURA</th>
        <th>WILGOTNOŚĆ POWIETRZA</th>
        <th>DATA</th>
      </tr>
    </thead>
    <tbody>
      <% @weathers.each do |weather| %>
      <td><%= weather.temperature %></td>
      <td><%= weather.humidity %></td>
      <td><%= weather.created_at %></td>
    </tbody>
    <% end %>
  </table>
</div>
<%= will_paginate @weathers %>
